:root {
    --blue-color:#0075ff;
    --blue-alt-color:#0d69d5;
    --orange-color:#f59e0b;
    --green-color:#22c55e;
    --red-color:#f44336;
    --grey-color:#888;
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Cairo', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    background-color: rgba(248, 248, 255, 0.744);
}
a {
    text-decoration: none;
}
ul  {
    list-style: none;
    padding: 0;
}
*:focus {
    outline: none;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: white;
}
::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}
input {
    border: none;
}
/* start sidebar */
.page {
    min-height: 100vh;
}
.page .side-bar ul li .active:hover{
    color: blue;
    background-color: #f6f6f6;
}
.page .side-bar > h3 {
    margin-bottom: 50px;
    text-align: center;
    font-size: 25px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1px black;
    letter-spacing: 1.5px;
}
.page .side-bar > h3::after {
    content: attr(data-text);
    position: absolute;
    left: -7px;
    bottom: 0;
    overflow: hidden;
    text-align: center;
    margin-left: 27px;
    width: 0;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.page .side-bar > h3:hover::after {
    width: 67%;
    -webkit-text-fill-color: blue;
    -webkit-text-stroke: 1px gainsboro;
}
@media (max-width:767px) {
    .page .side-bar h3 {
        margin-bottom: 15px;
        font-size: 13px;
    }
}
@media (max-width:767px) {
    .page .side-bar {
        width: 62px;
        padding: 10px;
    }
    .side-bar > h3::before,
    .side-bar > h3::after,
    .side-bar ul li span
        {
        display: none;
        
}
}
.page .side-bar > h3::before {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    width: 100px;
    height: 2px;
    background-color: black;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
/* .page .side-bar > h3::after {
    content: "";
    position: absolute;
    bottom: -15px;
    width: 100%;
    height: 1.5px;
    left: 0;
    background-color: black;
} */
/* end sidebar */
/* start head */
.head {
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 20%);
}
.page .content .radius {
    width: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.page .icons {
    display: flex;
    align-items: center;
    justify-content: center;
}
.page .icons i {
    margin: 10px;
}
.page .search input {
    width: 200px;
    padding: 15px 10px 15px 30px;
    background-color: #f6f6f6;
    border: none;
    position: relative;
    border: 1px solid #ccc;
}
.page .search input:focus {
    width: 220px;
}
.page .content {
    overflow: hidden;
}
.page .content .search i {
    position: absolute;
    left: 8px;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    color: var(--grey-color);
}
.page .content .icons .notification {
    position: relative;
    cursor: pointer;
}
.page .content .icons .notification::before {
    content: "";
    position: absolute;
    top: -5px;
    right: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color:var(--red-color);
}
.page h1 {
    margin: 20px 20px 40px;
    font-size: 40px;
    font-weight: 500;
}
.page h1::before,
.page h1::after {
    content: "";
    position: absolute;
    height: 3px;
    left: 0;
    bottom: -10px;
}
.page h1::after {
    width: 40px;
    background-color: black;
}
.page h1::before {
    background-color: white;
    width: 160px;
}
.wrapper {
    grid-template-columns: repeat(auto-fill , minmax(430px ,1fr));
    margin-left: 20px;
    margin-right: 20px;
}
@media (max-width:767px) {
    .wrapper {
        grid-template-columns: minmax(250px , 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}
/* start welcome */
.welcome {
    overflow: hidden;
}
.welcome .back {
    width: 60px ;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 3px solid white;
    position: relative;
    left: 5px;
    top: -10px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 10%);
}
.welcome .bg {
    width: 200px;
}
.welcome .info {
    padding: 20px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin: 20px 0;
}
.welcome .info .box {
    padding: 10px 20px;
}
.welcome .info .box span {
    display: block;
}
.welcome .info .box span:first-child {
    font-weight: 500;
    font-size: 18px;
}
.welcome input {
    float: right;
    padding: 8px 15px;
    background-color: var(--blue-color);
    color: white;
    border: none;
    margin: 10px 10px 20px;
    cursor: pointer;
}
/* End welcome */
/* start Quick */
.quick input,
.quick textarea {
    display: block;
    margin-bottom: 20px;
    width: 100%;
}
.quick input[type="text"] {
    border: none;
}
.quick input[type="submit"] {
    border: none;
    float: right;
    padding: 8px 15px;
    background-color: var(--blue-color);
    color: white;
    border: none;
    margin: 10px 10px 20px;
    cursor: pointer;
    width: fit-content;
    text-align: center;
}
.quick textarea {
    max-height: 220px;
    min-height: 220px;
    max-width: 100%;
    min-width: 100%;
    padding: 10px;
    border: none;
}
/* End Quick */
/* start targets */
.targets .target-row {
    padding-top: 20px;
}
.targets .target-row .icon {
        width: 80px;
        height: 80px;
        margin: 0 10px 0 0;
}
.targets .target-row .details {
    flex: 1;
}
.targets .blue .progress,
.targets .blue .icon {
    background-color: hsla(212, 100%, 50%, 0.203) ;
}
.details .progress { 
    height: 6px;
    margin-top: 5px;
}
.details .progress > span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
.details .progress > span span {
    position: absolute;
    bottom: 16px;
    right: -16px;
    color: white;
    padding: 3px 5px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    font-size: 13px;
}
.details .progress > span span::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid;
    border-color: var(--blue-color) transparent transparent;
    bottom: -14px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.targets .orange .progress,
.targets .orange .icon {
    background-color: hsla(38, 92%, 50%, 0.201);
}
.details .progress > span .bg-orange::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid;
    border-color:hsl(38, 92%, 50%)  transparent transparent;
    bottom: -14px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.targets .green .progress,
.targets .green .icon {
    background-color: hsla(142, 71%, 45%, 0.201);
}
.details .progress > span .bg-green::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid;
    border-color:var(--green-color)  transparent transparent;
    bottom: -14px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
/* end targets */
/* start statistics */
.ticket .d-flex{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.ticket .box {
    flex-basis: 47%;
    text-align: center;
    border: 2px solid #ddd;
    padding: 20px;
}
.ticket .box i {
    font-size: 28px;
}
.ticket .box span {
    display: block;
    color: var(--grey-color);
}
.ticket .orange i {
    color: var(--orange-color);
}
.ticket .blue i {
    color: var(--blue-color);
}
.ticket .green i {
    color: var(--green-color);
}
.ticket .red i {
    color: var(--red-color);
}
/* End statistics */
/* start latest */
.latest .box-holder .box:not(:last-child) {
    border-bottom: 1px solid #ddd;
}
.latest .box {
    padding-top: 10px;
    padding-bottom: 10px;
}
.latest .box span {
    background-color: #eee;
    padding: 5px 8px;
}
.latest .box img {
    width: 100px;
}
.latest .box .text {
    float: left;
}
.latest .box h3 {
    font-weight: 500;

}
/* End latest */
/* start tasks */
.tasks .holder {
    padding-top: 20px;
}
.tasks .card:not(:last-child) {
    border-bottom: 1px solid #ddd;
}
.tasks .card h3{
    font-size: 20px;
}
.tasks .card span {
    font-size: 16px;
    font-weight: 500;
}
.tasks .light {
    text-decoration: line-through;
    opacity: .2;
}
/* End tasks */
/* start search */
.search .box .number {
    background-color: rgba(221, 221, 221, 0.785);
    padding: 5px;
    font-weight: 500;
}
.search .box p {
    font-weight: 500;
}
/* End search */
/* start uploads */
.uploads .box {
    border-bottom: 1px solid rgba(221, 221, 221, 0.749);
}
.uploads .box i {
    font-size: 30px;
    margin-right: 10px;
    color: var(--blue-color);
}
.uploads .box > span {
    background-color: #eee;
    padding: 5px;
}
/* end uploads */
/* start project */
.project .box-container .box {
    padding: 5px;
}
.project .box-container {
    padding: 0 20px;
}
.project .box-container::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 80%;
    left: 3px;
    top: 10%;
    background-color: var(--blue-color);
    z-index: 0;

}
.project .box-container .box p {
    font-weight: 500;
}
.project .box-container .box p::before,
.project .box-container .box p::after,
.project .box-container .box .light::before,
.project .box-container .box .quite-light::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    top: 50%;
}
.project .box-container .box p::before {
    width: 20px;
    height: 20px;
    background-color: var(--blue-color);
    left: -30px;
    z-index: 2 ;
}
.project .box-container .box p::after {
    width: 23px;
    height: 23px;
    border: 2px solid var(--blue-color);
    left: -34px;
    background-color: white;
    z-index: 1 ;
}
.project .box-container .box .light::before{
    background-color: white;
    z-index: 2 ;
}
.project .box-container .box .quite-light::before {
    background-color: #0077ff84;
    z-index: 2;
}
/* End project */
/* start remind */
.remind .box-help {
    padding-left: 20px;
    padding-top: 10px;
}
.remind .box-help .box  {
    padding-left: 40px;
}
.remind .box-help .box p {
    font-weight: 500;
}
.remind .box-help .box::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #0d69d5;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.remind .box-help .box::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    left: 25px;
    top: 0;
    background-color: #0075ff;
}
.remind .box-help .red::before {
    background-color: var(--red-color);
}
.remind .box-help .red::after {
    background-color: var(--red-color);
}
.remind .box-help .green::before {
    background-color: var(--green-color);
}
.remind .box-help .green::after {
    background-color: var(--green-color);
}
.remind .box-help .orange::before {
    background-color: var(--orange-color);
}
.remind .box-help .orange::after {
    background-color: var(--orange-color);
}
/* end remind */
/* start post */
.post .box img {
    width: 70px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.post .box .text {
    margin-left: 20px;
}
.post .box .text p {
    margin-bottom: 5px;
    font-weight: 600;
}
.post > p {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 25px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-weight: 500;
}

.post .foot .icon:first-child i{
    color: var(--red-color);
}
.post .foot .icon:last-child i{
    color: var(--blue-color);
}
/* End post */
/* start social */
.social .box {
    background-color: #ccc;
    position: relative;
    padding:15px 15px 15px 65px;
}
.social .box .logo {
    background-color: #0d69d5;
    font-size: 35px;
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 58px;
}
.social .logo  a{
    color: white;
}
.social .box .rad-6 {
    background-color: #ddd;
    padding: 5px;
    color: white;
}
.social .face .logo{
    background-color: #1877f2;
}
.social .face {
    color: #1877f2;
    background-color: #1876f250;
}
.social .twit .logo{
    background-color: #1da1f2;
}
.social .twit {
    color: #1da1f2;
    background-color: #1da0f23b;
    margin-top: 30px;
}
.social .yout .logo{
    background-color: #ff0000;
}
.social .yout {
    color: #ff0000;
    background-color: #ff000034;
}
.social .linked .logo{
    background-color: #0077b5;
}
.social .linked {
    color: #0077b5;
    background-color: #0076b53f;
}
.social .face .rad-6 {
    background-color: #1877f2;
}
.social .twit .rad-6 {
    background-color: #1da1f2;
}
.social .linked .rad-6 {
    background-color: #0077b5;
}
.social .yout .rad-6 {
    background-color: #ff0000;
}
/* End social */
/* start table  */
.projects .responsive-table {
    overflow-x:auto ;
}
.projects table {
    min-width: 1000px;
    border-spacing: 0;
}
.projects table thead td {
    background-color: #eee;
    font-weight: bold;
}
.projects table td {
    padding: 15px;
}
.projects table tbody td {
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}
.projects table tbody tr:hover td {
    background-color: #faf7f7;
}
.projects table tbody td:last-child {
    border-right: 1px solid #eee;
}
.projects table img {
    width: 32px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 2px;
    background-color: white;
}
.projects table img:not(:first-child) {
    margin-left: -20px;
}
/* End table  */
/* start settings */
.content .settings-page {
    grid-template-columns: repeat(auto-fill , minmax(430px ,1fr));
    margin-left: 20px;
    margin-right: 20px;
}
.settings-page .control textarea {
    max-width: 100%;
    max-height: 200px;
    min-width: 100%;
    min-height: 200px;
    border: none;
    border: 1px solid var(--grey-color);
}
.settings-page .control .info .text p {
    font-weight: 500;
}
.settings-page .control .info i{
    background-color: white;
    z-index: 1;
    padding: 5px;
    color: var(--blue-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.settings-page .control .info::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 31px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    background-color: var(--blue-color);
}

/* end settings */
/* general */
.general input {
    border: 1px solid var(--grey-color);
}
.general .na{
    width: 400px;
}
.general .blue {
    color: var(--blue-color);
    font-weight: 500;
    float: right;
    margin-top: 10px;
}
/* end general */
/* start security */
.security .info button {
    background-color: var(--blue-color);
    color: white;
    border: none;
    padding: 5px 10px;
    font-weight: 500;
    cursor: pointer;
}
.security .info:not(:last-child) {
    border-bottom: 1px solid var(--grey-color);
    padding-bottom:10px ;
}
.security .info i{
    background-color: white;
    z-index: 1;
    padding: 5px;
    color: var(--blue-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.settings-page .security .titl::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 31px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    right: -5px;
    top: 44%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    background-color: var(--blue-color);
}
.security .info > span {
    background-color: rgba(102, 102, 102, 0.55);
    padding: 5px;
    color: white;
}
/* End security */
/* socail info */
.social-info .icon {
    background-color: rgba(85, 85, 85, 0.148);
    border: 1px solid rgba(85, 85, 85, 0.187);
    position: relative;

}
.social-info .icon .icon-holder {
    border: 1px solid rgba(85, 85, 85, 0.187);
    width: 50px;
    height: 51px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0px;
    text-align: center;
    
}
.social-info .icon .icon-holder i {
    font-size: 27px;
    margin-top: 12px;
}
.social-info .icon span {
    margin-left: 50px;
}
/* end  social info */
/* start widgets */
.widgets ul li {
    margin-left: 30px;
}
.widgets ul li::before {
    content: "";
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 1px solid var(--grey-color);
    background-color: white;
}
.widgets form input {
    appearance: none;
    position: relative;
    padding-left: 10px;
    padding-bottom:30px ;
}
.widgets form input::before,
.backup .pot form input::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    transform: translateX(-50%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid gray;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.widgets form input:checked:before,
.backup .pot form input:checked:before {
    border-color: var(--blue-alt-color);
}
.widgets form input:checked::after,
.backup .pot form input:checked:after {
    content: "";
    position: absolute;
    left: 0px;
    bottom:-.5px;
    transform: translateX(-50%);
    width: 13px;
    height: 13px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: var(--blue-alt-color);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

/* end widgets */
/* start daily */
.backup .pot form input {
    appearance: none;
    position: relative;
    padding-left: 15px;
    padding-bottom: 30px;
}
.backup .pot form label {
    font-size: 17px;
}
.backup .foot {
    padding: 30px 15px 0;
    margin-bottom: 0;
    border-top: 1px solid var(--grey-color);
    margin-top: 20px;
}
.backup .foot .person {
    border: 1px solid var(--grey-color);
    width: 140px;
    height: 100px;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding-top: 20px;
}
.backup .foot .person:hover {
    border-color: var(--blue-color);
    color: var(--blue-color);
    transition: .7s;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -ms-transition: .7s;
    -o-transition: .7s;
}
.backup .foot .person i {
    transition: .7s;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -ms-transition: .7s;
    -o-transition: .7s;
}
.backup .foot .person:hover i {
    color: var(--blue-color);
}
.backup .foot .person p {
    font-weight: 500;
}
/* end daily */
/* start profile */
.profile-page {
    grid-template-columns: repeat(auto-fill , minmax(430px ,1fr));
    margin-left: 20px;
    margin-right: 20px;
}
.profile-page .skills .box:not(:last-child) {
    border-bottom: 1px solid rgba(128, 128, 128, 0.132);
}
.profile-page .skills .box span {
    background-color: rgba(220, 220, 220, 0.61);
    padding: 5px 6px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.profile-page .activities .box .text1 .icon {
    width: 50px;
    height: 50px;
    color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 25px;
}
.profile-page .activities .red .text1 .icon {
    background-color: var(--red-color);
}
.profile-page .activities .blue .text1 .icon {
    background-color: var(--blue-color);
}
.profile-page .activities .green .text1 .icon {
    background-color: var(--green-color);
}
.profile-page .activities .orange .text1 .icon {
    background-color: var(--orange-color);
}
.profile-page .activities .box:not(:last-child) {
    border-bottom: 1px solid #80808022;
}
/* End profile */
/* start projectz */
.project-page {
    grid-template-columns: repeat(auto-fill , minmax(360px ,1fr));
    margin-left: 20px;
    margin-right: 20px;
}
.project-page .photos {
    margin-top: 50px;
}
.project-page .photos img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid white;
}
.project-page .photos img:not(:first-child) {
    margin-left: -25px;
}
.project-page .info {
    border-top: 1px solid #80808031;
    border-bottom: 1px solid #80808033;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 20px 0;
}
.project-page .info span {
    background-color: #dcdcdc76;
    padding: 6px 7px;
}
.project-page .feet .fill-holder {
    position: relative;
    display: inline-block;
    min-width: 400px;
    max-width: 400px;
    min-height: 15px;
    max-height: 15px;
    background-color: #dcdcdc76;
    margin-top: 20px;
}
.project-page .feet .fill-holder .fill {
    position: absolute;
    top: -20px;
    left: 0;
}
.project-page .feet span:last-child {
    float: right;
    margin-top: 20px;
}
.project-page .content .header p {
    font-weight: bold;
}
/* End projectz */
/* start course */
.course-page {
    grid-template-columns: repeat(auto-fill , minmax(300px ,1fr));
    margin-left: 20px;
    margin-right: 20px;
}
.course-page .section {
    overflow: hidden;
    transition: .8s;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -ms-transition: .8s;
    -o-transition: .8s;
}
.course-page .section:hover {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.144);
}
.course-page .section img {
    width: 100%;
    max-width: 100%;
    height: 250px;
}
.course-page .section .content {
    padding: 20px 20px 0 20px;
}
.course-page .section .content > p {
    font-weight: bold;
}
/* .course-page .section::before {
    content: url(../images/avatar-03.png);
    position: absolute;
    top: 10px;
    left: 10px;
    width: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid white;
    overflow: hidden;
} */
.course-page .section .avatar {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    height: 60px;
    border: 2px solid white;
}
.course-page .section .content > span {
    line-height: 1.8;
}
.course-page .section .content .center {
    background-color: var(--blue-color);
    color: white;
    font-weight: 400;
    width: fit-content;
    padding: 4px 6px;
    text-align: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.course-page .section .content .footer {
    padding: 20px 10px 15px 10px;
    margin-bottom: 0;
    border-top: 1px solid rgba(128, 128, 128, 0.452);
    margin-top:15px;
}
.course-page .section .content .moaz {
    margin-bottom: 10px;
}
/* End course */
/* Start friends */
.friend-page {
    grid-template-columns: repeat(auto-fill , minmax(300px ,1fr));
    margin-left: 20px;
    margin-right: 20px;
}
.friend-page .section .icon-holder i {
    padding: 8px;
    background-color: gainsboro;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.friend-page .section .information {
    text-align: center;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 15px;
}
.friend-page .section .information p {
    font-weight:500;
    font-size: 22px;
}
.friend-page .section .information img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    
}
.friend-page .section .ico {
    border-bottom: 1px solid gainsboro;
    padding: 20px 20px 0 20px;
}
.friend-page .section .ico .per {
    margin-bottom: 15px;
    color: var(--blue-color);
}
.friend-page .section .ico .per i {
    margin-right: 10px;
    font-size: 20px;
}
.friend-page .section .ico .per span {
    font-weight: 500;
}
.friend-page .section .buttons {
    padding: 0;
    margin: 15px 0 0 0;
}
.friend-page .section .buttons .end-buttons .b-blue,
.friend-page .section .buttons .end-buttons .b-red {
    padding: 5px 6px ;
    color: white;
}
.friend-page .section .buttons .end-buttons {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 5px;
}
.friend-page .section .buttons .end-buttons .b-blue {
    background-color: var(--blue-color);
}
.friend-page .section .buttons .end-buttons .b-red {
    background-color: var(--red-color);
}
/* End friends */
/* start files */
.files-page {
    grid-template-columns: repeat(auto-fill , minmax(200px ,1fr));
    margin-left: 20px;
    margin-right: 20px;
}
.files-page .box .photo {
    text-align: center;
}
.files-page  .box .photo img {
    width: 80px;
}
.files-page  .box .fooot {
    margin-top: 10px;
    border-top: 1px solid gainsboro;
    padding-top:10px ;
} 
.files-page .statistics .s-box {
    border: 1px solid gainsboro;
}
.files-page .statistics .s-box i {
    font-size: 25px;
}
.files-page .statistics .s-box .icon-hold {
    width: 50px;
    height: 60px;
    margin-right: 10px;
}
.files-page .statistics .blue .icon-hold {
    background-color: #0077ff56;
} 
.files-page .statistics .red .icon-hold{
    background-color: #f4433637;
    
}
.files-page .statistics .red .icon-hold i {
    color: var(--red-color);
}
.files-page .statistics .green .icon-hold {
    background-color: #22c55e41;
}
.files-page .statistics .green .icon-hold i {
    color: #22c55e;
}
.files-page .statistics .orange .icon-hold {
    background-color: #f59f0b36;
}
.files-page .statistics .orange .icon-hold i {
    color: var(--orange-color);
}
.files-page .statistics .s-box .text p {
    font-weight: bold;
}
/* End files */
/* start plans */
.plans-page {
    grid-template-columns: repeat(auto-fill , minmax(360px ,1fr));
    margin-left: 20px;
    margin-right: 20px;
}
.plans-page .item .above {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}
.plans-page .item .above::before {
    content: "";
    position: absolute;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border: 3px solid ;
    top: -5px;
    left: -5px;
}
.plans-page .item .green::before {
    border-color: var(--green-color);
}
.plans-page .item .blue::before {
    border-color: var(--blue-color);
}
.plans-page .item .orange::before {
    border-color: var(--orange-color);
}
.plans-page .item .above h3 {
    font-size: 30px;
}
.plans-page .item .above span {
    font-size: 40px;
}
.plans-page .item .landing .plan {
    border-bottom: 1px solid gainsboro;
    margin-bottom: 10px;
}
.plans-page .item .landing .plan .right i {
    margin-right: 10px;
}
.plans-page .item .landing .red .right i {
    color: var(--red-color);
}
.plans-page .item .landing .blue .right i {
    color: var(--blue-color);
}
.plans-page .item .landing .plan .left {
    width: 22px;
    height: 22px;
    background-color: gray;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: white;
}
.plans-page .item .green {
    background-color: var(--green-color);
}
.plans-page .item .blue {
    background-color: var(--blue-color);
}
.plans-page .item .orange {
    background-color: var(--orange-color);
}
.plans-page .item .butt {
    width: fit-content;
    padding: 5px 10px;
    color: white;
    margin-top: 15px;
}
/* End plans */
